-r requirements.txt
git+https://github.com/George-Ogden/mypy-pytest; python_version >= "3.12"
git+https://github.com/George-Ogden/pytest-dbg; python_version >= "3.11"
inline-snapshot
mypy
pre-commit
prek
pytest
pytest-timeout
ruff
syrupy
types-pyyaml
