name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    uses: George-Ogden/actions/.github/workflows/python-test.yaml@v3.2.0
    with:
      python-versions: "['3.13']"
      pytest-flags: -vv -m "not local"
